<div id="header">
  <div class="top">
    <!-- Logo -->
    <div id="logo">
      <!--<span class="image avatar48"><img src="assets/edu.png" alt=""/></span>-->
      <h1 id="title">Eduardo Ribeiro</h1>
      <p>Engenheiro de Software</p>
    </div>

    <!-- Nav -->
    <nav id="nav">
      <ul>
        <li><a href="#top" id="top-link"><span class="icon solid fa-home">Apresentação</span></a></li>
        <li><a href="#ferramentas" id="ferramentas-link"><span class="icon solid fa-th">Ferramentas</span></a></li>
        <li><a target="_blank" href="https://noumenon.my.webex.com/meet/filosofisto"><span class="icon solid fa-th">Webex</span></a></li>
        <li><a href="#codigo" id="codigo-link"><span class="icon solid fa-th">Código</span></a></li>
        <li><a href="#module1" id="module1-link"><span class="icon solid fa-th">Modulo 1 - Java Backend</span></a></li>
        <li><a href="#about" id="about-link"><span class="icon solid fa-user">Instrutor</span></a></li>
        <li><a href="#contact" id="contact-link"><span class="icon solid fa-envelope">Contato</span></a></li>
      </ul>
    </nav>
  </div>

  <!-- Social media -->
  <div class="bottom">
    <ul class="icons">
      <li><a target="_blank" href="https://twitter.com/filosofisto" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a target="_blank" href="https://github.com/filosofisto" class="icon brands fa-github"><span class="label">Github</span></a></li>
      <li><a target="_blank" href="mailto:filosofisto@gmail.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
    </ul>
  </div>
</div>

<div id="main">
  <section id="top" class="one dark cover">
    <div class="container">
      <header>
        <h2 class="alt">
          Treinamento em Arquitetura e <br/>
          Desenvolvimento de Software
        </h2>
        <strong>Objetivo:</strong><br/>
        <p>
          O objetivo deste treinamento é preparar uma Equipe de Desenvolvimento de software profissional
          com as mais modernas técnicas de desenvolvimento e arquitetura de software, visando em especial
          a qualidade no processo de desenvolvimento e alinhamento com novas tecnologias, frameworks e
          melhores práticas.
        </p>
        <p>
          <strong>Metodologia:</strong><br/>
          Aulas remotas, incluindo listas de exercícios com correções das mesmas e publicação da solução
          em repositorio público. Desenvolvimento de projeto prático, normalmente um projeto real em que a equipe de desenvolvimento
          trabalhara em conjunto com o instrutor vivenciando o dia-a-dia do desenvolvimento e onde aparecem
          necessidades de melhoria da arquitetura e novas problemas a serem resolvidos.
      </header>

      <!--<footer>
        <a href="#portfolio" class="button scrolly">Magna Aliquam</a>
      </footer>-->
    </div>
  </section>

  <!-- Ferramentas -->
  <section id="ferramentas" class="two">
    <div class="container">
      <header>
        <h2>Ferramentas</h2>
      </header>
      <a target="_blank" href="https://www.java.com/en/download/win10.jsp">* Java 8 Update 261</a><br/>
      <a target="_blank"
         href="https://github.com/git-for-windows/git/releases/download/v2.28.0.windows.1/Git-2.28.0-64-bit.exe">
        * Git for Windows
      </a><br/>
      <a target="_blank" href="https://www.jetbrains.com/idea/download/download-thanks.html?platform=windows&code=IIC">
        * IntelliJ Community
      </a><br/>
      <a target="_blank" href="https://welcome.webex.com/client/T33L/atrecply.msi">
        * Player WRF
      </a><br/>
      <a target="_blank" href="http://ftp.man.poznan.pl/apache/maven/maven-3/3.6.3/binaries/apache-maven-3.6.3-bin.zip">Apache Maven (opcional)</a>
      <h5>
      - Descompacte o Zip em uma pasta de sua preferência<br/>
      - Adicione a pasta &lt;Maven Home&gt;\bin no PATH do Sistema Operacional<br/>
      - Configure o IntelliJ para utilizar esta instalação de Maven
      </h5>
      <a target="_blank" href="http://nssm.cc">nssm (install windows service)</a>
    </div>
  </section>

  <!-- Codigo -->
  <section id="codigo" class="two">
    <div class="container">
      <header>
        <h2>Código Fonte</h2>
      </header>
      <h5>
        <a target="_blank" class="icon brands fa-github" href="https://github.com/filosofisto/archsoft-training-code">
          https://github.com/filosofisto/archsoft-training-code
        </a>
      </h5>
    </div>
  </section>

  <!-- Module 1 -->
  <section id="module1" class="two">
    <div class="container">
      <header>
        <h2>Modulo 1</h2>
      </header>
      <p>Java Backend</p>
      <p>
        Linguagem Java | Maven | Git | Programação Orientada a Objetos | Java e POO |
        Java Collection Framework | Java 8 - Novos Recursos [Stream/Optional/Function/...] |
        Java IO | Java Database Connectivity - JDBC | Java Persistence API - JPA | Spring Boot Framework
      </p>
      <div class="row">
        <div class="col-4 col-12-mobile">
          <article class="item">
            <header>
              <h3>
                <strong>Data: 29/10/2020 (Qui)</strong><br/>
                Conteúdo: JPA<br/>
                <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/Aula-2020-10-29.zip">
                  Download Aula
                </a><br/>
                Exemplos:<br/>
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/jpa-default-mappings-5">jpa-default-mappings-5</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/jpa-default-mappings-6">jpa-default-mappings-6</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/jpa-1">jpa-1</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/jpa-2">jpa-2</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/jpa-3">jpa-3</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/jpa-4">jpa-4</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/jpa-5">jpa-5</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/jpa-6">jpa-6</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/jpa-7">jpa-7</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/jpa-8">jpa-8</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/jpa-9">jpa-9</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/jpa-10">jpa-10</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/jpa-11">jpa-11</a>
              </h3>
            </header>
          </article>
          <article class="item">
            <header>
              <h3>
                Data: 23/10/2020 (Sex)<br/>
                Conteúdo: Framework de Coleções (Set/Map exemplos) | Java IO - File/FileFilter | Java IO - DataInputStream, DataOutputStream, FileInputStream, FileOutputStream | Java IO - Serializable, ObjectInputStream, ObjectOutputStream<br/>
                <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/Aula-2020-10-23.zip">
                  Download Aula
                </a><br/>
                <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/Collections.pdf">
                  Download Apresentação
                </a><br/>
                Exemplos:<br/>
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/coll-4">coll-4</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/coll-5">coll-5</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/coll-6">coll-6</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/coll-7">coll-7</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/io-1">io-1</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/io-2">io-2</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/io-3">io-3</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/io-4">io-4</a>
              </h3>
            </header>
          </article>
          <article class="item">
            <header>
              <h3>
                Data: 16/10/2020 (Sex)<br/>
                Conteúdo: Reflection | Comparable e Comparator | Collection Framework (Iterable, Collection, List (ArrayList, LinkedList))<br/>
                <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/Aula-2020-10-16.mp4">
                  Download Aula
                </a><br/>
                Exemplos:<br/>
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/reflection-1">reflection-1</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/reflection-2">reflection-2</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/extras/comparator-1">comparator-1</a>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
              </h3>
            </header>
          </article>
          <article class="item">
            <header>
              <h3>
                Data: 07/10/2020 (Qua)<br/>
                Conteúdo: String<br/>
                <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/Aula-2020-10-07.wrf">
                  Download Aula
                </a><br/>
                Exemplos:<br/>
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/string-equals-final">string-equals-final</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/string-common-methods">string-common-methods</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/string-builder">string-builder</a>
                <br/>
                <br/>
                <br/>
              </h3>
            </header>
          </article>
          <article class="item">
            <header>
              <h3>
                Data: 30/09/2020 (Qua)<br/>
                Conteúdo: Classe abstrata | Interface | Liskov Substitution Principle (SO[L]ID) | Clonning | equals Contract<br/>
                <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/Aula-2020-09-30.wrf">
                  Download Aula
                </a><br/>
                Exemplos:<br/>
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/solucoes/object-oriented-2-strategy">object-oriented-2-strategy</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/solucoes/object-oriented-figura">object-oriented-figura</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/solucoes/object-oriented-equals">object-oriented-equals</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/solucoes/object-clonning">object-clonning</a>
              </h3>
            </header>
          </article>
          <article class="item">
            <header>
              <h3>
                Data: 21/09/2020 (Seg)<br/>
                Conteúdo: Operadores da Linguagem | Lista 1 - Problemas 5 e 13 | Arrays - String[] (args) / float[] | Conversão de String para float com Float.parseFloat() | Loops: for / foreach / while | if / else | Blocos: &#123; &#125; | Comentarios: Bloco /* */ e Linha //<br/>
                <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/Aula-2020-09-21.wrf">
                  Download Aula
                </a><br/>
                Exemplos:<br/>
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/operators">operators</a>
              </h3>
            </header>
          </article>
          <article class="item">
            <header>
              <h3>
                Data: 15/09/2020 (Ter)<br/>
                Conteúdo: Apresentação do treinamento | Apresentações pessoais | Introdução a Plataforma Java<br/>
                <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/java.pdf">
                  Download Apresentação
                </a><br/>
              </h3>
            </header>
          </article>
        </div>
        <div class="col-4 col-12-mobile">
          <article class="item">
            <header>
              <h3>
                Data: 28/10/2020 (Qua)<br/>
                Conteúdo: JPA<br/>
                <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/Aula-2020-10-28.zip">
                  Download Aula
                </a><br/>
                <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/jpa.pdf">
                  Download Apresentação
                </a><br/>
                Exemplos:<br/>
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/jpa-default-mappings-1">jpa-default-mappings-1</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/jpa-default-mappings-2">jpa-default-mappings-2</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/jpa-default-mappings-3">jpa-default-mappings-3</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/jpa-default-mappings-4">jpa-default-mappings-4</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/jpa-0">jpa-0</a>
              </h3>
            </header>
          </article>
          <article class="item">
            <header>
              <h3>
                Data: 21/10/2020 (Qua)<br/>
                Conteúdo: Lambda | Reference Method | Optional | Collection Framework (Map (HashMap, LinkedHashMap, TreeMap))<br/>
                <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/Aula-2020-10-21.zip">
                  Download Aula
                </a><br/>
                Exemplos:<br/>
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/optional-1">optional-1</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/object-interface-2">object-interface-3 (Functional Interface)</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/lambda-1">lambda-1</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/lambda-2">lambda-2</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/coll-1">coll-1</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/coll-2">coll-2</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/coll-3">coll-3</a>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
              </h3>
            </header>
          </article>
          <article class="item">
            <header>
              <h3>
                Data: 14/10/2020 (Qua)<br/>
                Conteúdo: Enum | Date/Number Format | Annotation<br/>
                <span style="color:red">** Aula não disponivel</span><br/>
                <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/jpa.pdf">
                  Download Apresentação
                </a><br/>
                Exemplos:<br/>
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/enum-1">enum-1</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/enum-1">enum-2</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/format-datetime">format-datetime</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/format-number">format-number</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/annotation-1">annotation-1</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/annotation-2">annotation-2</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/annotation-3">annotation-3</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/annotation-4">annotation-4</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/annotation-5">annotation-5</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/annotation-6">annotation-6</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/annotation-7">annotation-7</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/annotation-8">annotation-8</a>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
              </h3>
            </header>
          </article>
          <article class="item">
            <header>
              <h3>
                Data: 05/10/2020 (Seg)<br/>
                Conteúdo: Interface Default Methods | Exceptions<br/>
                <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/Aula-2020-10-05.wrf">
                  Download Aula
                </a><br/>
                Exemplos:<br/>
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/object-interface-2">object-interface-2</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/exception-1">exception-1</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/exception-2">exception-2</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/exception-3">exception-3</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/exception-4">exception-4</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/object-oriented-visibility">object-oriented-visibility</a>
              </h3>
            </header>
          </article>
          <article class="item">
            <header>
              <h3>
                Data: 28/09/2020 (Seg)<br/>
                Conteúdo: Conceitos de Programação Orientada a Objetos<br/>
                <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/Aula-2020-09-28-a.wrf">
                  Download Aula (parte a)
                </a><br/>
                <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/Aula-2020-09-28-b.wrf">
                  Download Aula (parte b)
                </a><br/>
                Exemplos:<br/>
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/object-oriented-2">object-oriented-2</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/solucoes/object-oriented-2-strategy">object-oriented-2-strategy</a>
                <br/>
                <br/>
              </h3>
            </header>
          </article>
          <article class="item">
            <header>
              <h3>
                Data: 18/09/2020 (Sex)<br/>
                Conteúdo: Noções de Gerenciamento de Código Fonte -
                git add/commit/pull/push/push -u/checkout/checkout -b/stash list/stash save
                e Resolução de Conflito | Git Flow<br/>
                <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/Aula-2020-09-18.wrf">
                  Download Aula
                </a><br/>
                <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/GitFlow.wrf">
                  Download Aula - Git Flow
                </a><br/>
                Leitura Recomendada: <a target="_blank" href="https://nvie.com/posts/a-successful-git-branching-model">https://nvie.com/posts/a-successful-git-branching-model</a>
              </h3>
            </header>
          </article>
        </div>
        <div class="col-4 col-12-mobile">
          <article class="item">
            <header>
              <h3>
                Data: 26/10/2020 (Seg)<br/>
                Conteúdo: Java IO - Scanner, PrintWriter, GZIP | Decorator GoF | JDBC<br/>
                <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/Aula-2020-10-26.zip">
                  Download Aula
                </a><br/>
                Exemplos:<br/>
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/io-5">io-5</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/io-6">io-6</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/io-7">io-7</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/decorator-1">decorator-1</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/jdbc-1">jdbc-1</a>
                <br/>
                <br/>
                <br/>
              </h3>
            </header>
          </article>
          <article class="item">
            <header>
              <h3>
                Data: 19/10/2020 (Sex)<br/>
                Conteúdo: JNI | Collection Framework (Set (HashSet, LinkedHashSet, TreeSet))<br/>
                <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/Aula-2020-10-19.mp4">
                  Download Aula
                </a><br/>
                Exemplos:<br/>
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/extras/JNI/Fibonacci/Fibonacci">DLL Fibonacci</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/extras/JNI/jni-client-fibonacci">jni-client-fibonacci</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/extras/JNI/TextCase/TextCase">DLL TextCase</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/extras/JNI/jni-client-textcase">jni-client-textcase</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/extras/JNI/stat">(so - Shared Linux library) stat</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/extras/JNI/jni-client">jni-client (Linux)</a>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
              </h3>
            </header>
          </article>
          <article class="item">
            <header>
              <h3>
                Data: 09/10/2020 (Sex)<br/>
                Conteúdo: Carregamento dinâmico de classes | Expressões Regulares<br/>
                <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/Aula-2020-10-09-part-1.wrf">
                  Download Aula Parte 1
                </a><br/>
                <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/Aula-2020-10-09-part-2.wrf">
                  Download Aula Parte 2
                </a><br/>
                <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/Aula-2020-10-09-part-3.wrf">
                  Download Aula Parte 3
                </a><br/>
                Exemplos:<br/>
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/regex-1">regex-1</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/regex-2">regex-2</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/extras/dynamic-execution-1/dynamic-execution-1-api">dynamic-execution-1-api</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/extras/dynamic-execution-1/dynamic-execution-1-implementation-A">dynamic-execution-1-implementation-A</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/extras/dynamic-execution-1/dynamic-execution-1-implementation-B">dynamic-execution-1-implementation-B</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/extras/dynamic-execution-1/dynamic-execution-1-main">dynamic-execution-1-main</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/extras/dynamic-execution-1/dynamic-execution-2-api">dynamic-execution-2-api</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/extras/dynamic-execution-1/dynamic-execution-2-implementation-A">dynamic-execution-2-implementation-A</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/extras/dynamic-execution-1/dynamic-execution-2-implementation-B">dynamic-execution-2-implementation-B</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/extras/dynamic-execution-1/dynamic-execution-2-main">dynamic-execution-2-main</a>
              </h3>
            </header>
          </article>
          <article class="item">
            <header>
              <h3>
                Data: 02/10/2020 (Sex)<br/>
                Conteúdo: Methods equals, hashCode | Interface | Generic<br/>
                <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/Aula-2020-10-02.wrf">
                  Download Aula
                </a><br/>
                Exemplos:<br/>
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/solucoes/object-oriented-equals">object-oriented-equals</a> |
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/solucoes/object-interface">object-interface</a>
                <br/>
                <br/>
              </h3>
            </header>
          </article>
          <article class="item">
            <header>
              <h3>
                Data: 25/09/2020 (Sex)<br/>
                Conteúdo: Conceitos de Programação Orientada a Objetos | Classe Object, método toString()<br/>
                <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/Aula-2020-09-25.wrf">
                  Download Aula (parte a)
                </a><br/>
                <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/Aula-2020-09-25-b.wrf">
                  Download Aula (parte b)
                </a><br/>
                <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/oop.pdf">
                  Download Apresentação
                </a><br/>
                Exemplos:<br/>
                <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/solucoes/object-oriented-1">object-oriented-1</a>
              </h3>
            </header>
          </article>
          <article class="item">
            <header>
              <h3>
                Data: 16/09/2020 (Qua)<br/>
                Conteúdo: Projeto hello-world | Noções do Apache Maven | Noções de Gerenciamento de Código Fonte - git clone | Noções de Teste Unitário - JUnit Framework<br/>
                <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/Aula-2020-09-16.wrf">
                  Download Aula (resumo)
                </a><br/>
                <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/Aula-2020-09-16-b.wrf">
                  Download Aula - Teste Unitário (resumo)
                </a><br/>
                <br/>
                <br/>
              </h3>
            </header>
          </article>
        </div>
      </div>
    </div>
  </section>

  <!-- About Me -->
  <section id="about" class="three">
    <div class="container">
      <header>
        <img src="assets/edu.png" height="15%" width="15%"/><br/>
        <h2>Instrutor</h2>
      </header>

      <p>
        Eduardo Ribeiro da Silva é formado em Ciências da Computação pela UFSC em 1994, possui mais de 25 anos de experiência em
        desenvolvimento de software, e neste tempo teve oportunidade de trabalhar em muitos projetos interessantes e com diversas tecnologias, em especial Java, C++, tecnologias Web e recentemente com Mobile.
        Atualmente mora e trabalha na EPAM - Krakow como Tech Lead Backend Java.
      </p>
    </div>
  </section>

  <!-- Contact -->
  <section id="contact" class="four">
    <div class="container">
      <header>
        <h2>Contato</h2>
      </header>

      <p>
        Interesse em montar um treinamento customizado para sua empresa? <br/>
        Me contate pelo email: <a href="mailto:filosofisto@gmail.com">filosofisto@gmail.com</a>
      </p>

      <!--<form method="post" action="#">
        <div class="row">
          <div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Name"/></div>
          <div class="col-6 col-12-mobile"><input type="text" name="email" placeholder="Email"/></div>
          <div class="col-12">
            <textarea name="message" placeholder="Message"></textarea>
          </div>
          <div class="col-12">
            <input type="submit" value="Send Message"/>
           </div>
        </div>
      </form>-->
    </div>
  </section>
</div>

<div id="footer">
  <!-- Copyright -->
  <ul class="copyright">
    <li>&copy; Noumenon. All rights reserved.</li>
    <!--<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>-->
  </ul>
</div>
